<div class="heading text-center mb-5">
    <h1>Package Script Writer</h1>
    <p><strong>by Paul Seal</strong></p>
    <p>Tick the box under the packages you want to install and configure the options to generate the required script to run.</p>
    <p>Alternatively, use the <a href="https://codeshare.co.uk/blog/introducing-package-script-writer-cli-tool/" target="_blank">CLI version</a> on your local environment</p>
</div>
