<div class="heading text-center mb-5">
    <h1>Package Script Writer</h1>
    <p><strong>by Paul Seal</strong></p>
    <p>Tick the box under the packages you want to install and configure the options to generate the required script to run.</p>
</div>