#packagelist div img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

main.page .portfolio-block form {
    max-width: none;
}

.pre li.L0, pre li.L1, pre li.L2, pre li.L3,
pre li.L5, pre li.L6, pre li.L7, pre li.L8 {
    list-style-type: decimal !important;
}

#submit-wrapper {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #fff;
    z-index: 999;
}

.form-group input[type="checkbox"] {
    width: 1em;
    height: 1em;
    float: left;
    margin-right: 0.8em;
}

pre:not(.prettyprinted) {
    background-color: #000;
    color: #fff;
}

#packagelist .card {
    //border: 5px solid #f1f1f1;
    min-height: 380px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}

    #packagelist .card:hover {
        //border: 5px solid #f1f1f1;
        box-shadow: 0 .5rem 1rem rgba(0,0,0, .15);
        min-height: 380px;
        cursor: pointer;
        transition: box-shadow 0.3s ease-in-out;
    }

    #packagelist .card.selected {
        //border: 5px solid #3B0084;
    }

    #packagelist .card input[type="checkbox"] {
        width: 1em;
        height: 1em;
        cursor: pointer;
    }

.nav-tabs .nav-item .nav-link:not(.active) {
    background-color: lightgrey;
}

#code-nav-item.glow .nav-link {
    border-color: green;
    box-shadow: inset 0 0 16px green;
}

div.tab-pane p a {
    text-decoration: underline;
    font-weight: bold;
}
