################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PSW/PSW/bin
/PSW/.vs/PSW/v17
/PSW/PSW/obj
*.user
/PSW/.vs/PSW
/PSW/PSW/Properties/PublishProfiles/psw.codeshare.co.uk - Web Deploy.pubxml
/PSW/PSW/Properties/PublishProfiles/psw.codeshare.co.uk - Web Deploy.pubxml.user
/.vs
/PSW/.vs/ProjectEvaluation
