################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/PSW/bin
/src/.vs/PSW/v17
/src/PSW/obj
*.user
/src/.vs/PSW
/src/PSW/Properties/PublishProfiles/psw.codeshare.co.uk - Web Deploy.pubxml
/src/PSW/Properties/PublishProfiles/psw.codeshare.co.uk - Web Deploy.pubxml.user
/.vs
/src/.vs/ProjectEvaluation

# JetBrains Rider IDE
*.sln.iml
.idea


# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
/src/.vs
/src/PackageCliTool/obj
/src/PackageCliTool/bin
/src/PSW.IntegrationTests/bin
/src/PSW.IntegrationTests/obj
/src/PSW.Shared/obj
/src/PSW.Shared/bin
/src/PSW.ApiDiagnostic/bin
/src/PSW.ApiDiagnostic/obj
/src/PackageCliTool.Tests/bin
/src/PackageCliTool.Tests/obj
