<div class="tab-pane fade show" id="help" role="tabpanel" aria-labelledby="help-tab">
    <div class="pt-5">
        <h2>Help</h2>
        <p>You can learn how to use this tool by <a href="https://www.youtube.com/watch?v=ny5wzOSKFFA" target="_blank" rel="noopener">watching this video</a></p>
    </div>
    <div class="pt-5">
        <h2>Source Code</h2>
        <p>You can see the source code for this site on <a href="https://github.com/prjseal/Package-Script-Writer" target="_blank" rel="noopener">GitHub</a>. </p>
    </div>
</div>