<div class="tab-pane fade show" id="coffee" role="tabpanel" aria-labelledby="coffee-tab">
    <div class="pt-5">
        <p>This tool is completely free for you to use but, if you want to show your appreciation, you can <a href="https://codeshare.co.uk/coffee" target="_blank" rel="noopener">buy me a coffee</a>.</p>
    </div>
</div>