@using PSW.Models
@model PackagesViewModel
@{
    ViewData["Title"] = "Home page";
}

<main class="page lanidng-page">

    <section class="portfolio-block skills">
        <div class="container mb-5">
            @await Component.InvokeAsync("Packages", Model)
        </div>
    </section>
</main>
