@using PSW.Models
@model PackagesViewModel
@{
    ViewData["Title"] = "Home page";
}

<main class="page lanidng-page">

    <section class="portfolio-block skills bg-primary p-3">
        <div class="container my-5 p-5 shadow bg-light">
            @await Component.InvokeAsync("Packages", Model)
        </div>
    </section>
</main>
