@using PSW.Models
@model PackagesViewModel
@{
    ViewData["Title"] = "Home page";
}

<main class="page lanidng-page">

    <section class="portfolio-block skills" style="padding: 100px 0;">
        <div class="container my-5 p-5 shadow">
            @await Component.InvokeAsync("Packages", Model)
        </div>
    </section>
</main>
