<div class="tab-pane fade show" id="popular" role="tabpanel" aria-labelledby="popular-tab">
    <div class="pt-5">
        <p>Here are some popular preconfigured scripts which people have created for you.</p>
        <p>Feel free to submit your own scripts by editing this page in <a href="https://github.com/prjseal/Package-Script-Writer/blob/main/PSW/PSW/Views/Home/PopularScripts.cshtml" target="_blank">GitHub</a></p>
        <table class="table table-striped table-bordered border-2 table-responsive">
            <thead>
            <th>Script</th>
            <th>Contributed by</th>
            </thead>
            <tr>
                <td class="fw-bold">
                    <a target="_blank" href="https://psw.codeshare.co.uk/?TemplateName=Umbraco.Templates&TemplateVersion=&Packages=&UserEmail=admin%40example.com&ProjectName=MyProject&CreateSolutionFile=true&SolutionName=MySolution&UseUnattendedInstall=true&DatabaseType=SQLite&UserPassword=1234567890&UserFriendlyName=Administrator&IncludeStarterKit=true&StarterKitPackage=clean&OnelinerOutput=false&RemoveComments=false">
                        Umbraco 15 with Clean Starter Kit
                    </a>
                </td>
                <td>Paul Seal</td>
            </tr>
            <tr>
                <td class="fw-bold">
                    <a target="_blank" href="https://psw.codeshare.co.uk/?TemplateName=Umbraco.Templates&TemplateVersion=&Packages=&UserEmail=admin%40example.com&ProjectName=MyProject&CreateSolutionFile=true&SolutionName=MySolution&UseUnattendedInstall=true&DatabaseType=SQLite&UserPassword=1234567890&UserFriendlyName=Administrator&IncludeStarterKit=true&StarterKitPackage=clean&OnelinerOutput=false&RemoveComments=false&IncludeDockerfile=true&IncludeDockerCompose=true">
                        Umbraco 15 with Clean Starter Kit and Docker
                    </a>
                </td>
                <td>Carl Sargunar</td>
            </tr>
            <tr>
                <td class="fw-bold">
                    <a target="_blank" href="https://psw.codeshare.co.uk/?TemplateName=Umbraco.Templates&TemplateVersion=LTS&Packages=&UserEmail=admin%40example.com&ProjectName=MyProject&CreateSolutionFile=true&SolutionName=MySolution&UseUnattendedInstall=true&DatabaseType=SQLite&UserPassword=1234567890&UserFriendlyName=Administrator&IncludeStarterKit=true&StarterKitPackage=clean+--version+4.1.0&OnelinerOutput=false&RemoveComments=false">
                        Umbraco 13 (LTS) with Clean Starter Kit
                    </a>
                </td>
                <td>Paul Seal</td>
            </tr>
            <tr>
                <td class="fw-bold">
                    <a target="_blank" href="https://psw.codeshare.co.uk/?TemplateName=Umbraco.Templates&TemplateVersion=&Packages=&UserEmail=admin%40example.com&ProjectName=MyProject&CreateSolutionFile=true&SolutionName=MySolution&UseUnattendedInstall=true&DatabaseType=SQLite&UserPassword=1234567890&UserFriendlyName=Administrator&IncludeStarterKit=true&StarterKitPackage=Umbraco.TheStarterKit&OnelinerOutput=false&RemoveComments=false">
                        Latest Umbraco with The Starter Kit
                    </a>
                </td>
                <td>Paul Seal</td>
            </tr>
            <tr>
                <td class="fw-bold">
                    <a target="_blank" href="https://psw.codeshare.co.uk/?TemplateName=Umbraco.Templates&TemplateVersion=LTS&Packages=uSkinnedSiteBuilder%7C&UserEmail=admin%40example.com&ProjectName=MyProject&CreateSolutionFile=true&SolutionName=MySolution&UseUnattendedInstall=true&DatabaseType=SQLite&UserPassword=1234567890&UserFriendlyName=Administrator&IncludeStarterKit=false&StarterKitPackage=clean&OnelinerOutput=false&RemoveComments=false">
                        Latest LTS Umbraco + uSkinned Site Builder
                    </a>
                    <div class="small fw-normal mt-1">This will install the current long-term support version of Umbraco CMS and the award-winning uSkinned Site Builder.</div>
                </td>
                <td>Paul Daly (uSkinned.net)</td>
            </tr>
            <tr>
                <td class="fw-bold">
                    <a target="_blank" href="https://psw.codeshare.co.uk/?TemplateName=Umbraco.Templates&TemplateVersion=LTS&Packages=uSkinnedSiteBuilder%7C%2CuSkinnedSiteBuilder.Theme.Kilda%7C%2CuSkinnedSiteBuilder.Theme.Lismore%7C%2CuSkinnedSiteBuilder.Theme.Texa%7C%2CuSkinnedSiteBuilder.Theme.Iona%7C%2CuSkinnedSiteBuilder.Theme.Rona%7C%2CuSkinnedSiteBuilder.Theme.Cara%7C%2CuSkinnedSiteBuilder.Theme.Mull%7C%2CuSkinnedSiteBuilder.Theme.Skye%7C%2CuSkinnedSiteBuilder.Theme.Fair%7C%2CuSkinnedSiteBuilder.Theme.Hoy%7C%2CuSkinnedSiteBuilder.Theme.Lewis%7C%2CuSkinnedSiteBuilder.Theme.Stroma%7C%2CuSkinnedSiteBuilder.Theme.Harris%7C%2CuSkinnedSiteBuilder.Theme.Westray%7C%2CuSkinnedSiteBuilder.Theme.Barra%7C%2CuSkinnedSiteBuilder.Theme.Orkney%7C%2CuSkinnedSiteBuilder.Theme.Bute%7C%2CuSkinnedSiteBuilder.Theme.Fara%7C%2CuSkinnedSiteBuilder.Theme.Yell%7C%2CuSkinnedSiteBuilder.Theme.Tiree%7C%2CuSkinnedSiteBuilder.Theme.Jura%7C%2CuSkinnedSiteBuilder.Theme.Arran%7C%2CuSkinnedSiteBuilder.Theme.Islay%7C%2CuSkinnedSiteBuilder.Theme.Staffa%7C%2CuSkinnedSiteBuilder.Theme.Torsa%7C%2CuSkinnedSiteBuilder.Theme.Vallay%7C&UserEmail=admin%40example.com&ProjectName=MyProject&CreateSolutionFile=true&SolutionName=MySolution&UseUnattendedInstall=true&DatabaseType=SQLite&UserPassword=1234567890&UserFriendlyName=Administrator&IncludeStarterKit=false&StarterKitPackage=clean&OnelinerOutput=false&RemoveComments=false">
                        Latest LTS Umbraco + uSkinned Site Builder + All Theme Designs
                    </a>
                    <div class="small fw-normal mt-1">This will install the current long-term support version of Umbraco CMS, the award-winning uSkinned Site Builder, and all current Theme Designs for uSkinned Site Builder. Please note, that after you run the website, please stop the website and then run once more to ensure all Theme Designs are installed.</div>
                </td>
                <td>Paul Daly (uSkinned.net)</td>
            </tr>
        </table>
    </div>
</div>
