<div class="heading text-center mb-5">
    <h2>Package Script Writer</h2>
    <h4>by Paul Seal</h4>
    <p>Tick the box under the packages you want to install and configure the options to generate the required script to run.</p>
</div>