<div class="tab-pane fade show" id="source" role="tabpanel" aria-labelledby="source-tab">
    <div class="pt-5">
        <p>You can see the source code for this site on <a href="https://github.com/prjseal/Package-Script-Writer" target="_blank" rel="noopener">GitHub</a>. </p>
    </div>
</div>