<div id="submit-wrapper" class="p-3 w-100 bg-transparent">
    <button class="btn btn-success float-end ms-2" id="generate" name="generate"><i class="ion-checkmark-circled"></i> Update Script</button>
    <button class="btn btn-danger float-end ms-2" id="clearpackages"><i class="ion-android-delete"></i> Clear All Packages</button>
    <a href="/" class="btn btn-info float-end ms-2" id="startover"><i class="ion-ios-undo"></i> Start Over</a>
</div>