<div class="tab-pane fade show" id="hosting" role="tabpanel" aria-labelledby="hosting-tab">
    <div class="pt-5">
        <p>This tool has been sponsored by UmbHost's Free Umbraco Community Hosting scheme, you can <a href="https://umbhost.net/" target="_blank">find out more about UmbHost here</a></p>
    </div>
</div>