name: Website - Deploy
permissions:
  contents: read

on:
  push:
    branches: [ main ]
env:
    SolutionName: ${{ secrets.SOLUTION_NAME }}
    BuildPlatform: Any CPU
    BuildConfiguration: Release

jobs:
  build:

    runs-on: windows-latest
    if: github.repository == 'prjseal/Package-Script-Writer'

    steps:
        - name: Checkout
          uses: actions/checkout@v3.0.0

        - name: Create Build Directory
          run: mkdir _build

        - name: Build Solution
          run: |
            dotnet build .\src\${{env.SolutionName}} /nologo /nr:false /p:DeployOnBuild=true /p:DeployDefaultTarget=WebPublish /p:WebPublishMethod=Package /p:PackageAsSingleFile=true /p:DeleteExistingFiles=True /p:SkipInvalidConfigurations=true /p:IncludeSetAclProviderOnDestination=False /p:AutoParameterizationWebConfigConnectionStrings=False /p:platform="${{env.BuildPlatform}}" /p:configuration="${{env.BuildConfiguration}}" /p:PackageLocation="../../_build" /p:RunPreBuildEvent=false
            
        - name: Deploy to UmbHost
          uses: UmbHost/umbhost-web-deploy@v1.0.1
          with:
            website-name: ${{ secrets.WEBSITE_NAME }}
            server-computer-name: ${{ secrets.SERVER_COMPUTER_NAME }}
            server-username: ${{ secrets.USERNAME }}
            server-password: ${{ secrets.PASSWORD }}
            source-path: '_build'
            source-fileName: PSW.zip
